body {
  margin: 0;
  padding: 0;
}
#main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 5rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
#start {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#start:hover {
  transform: scale(1.1);
}
#plus {
  font-size: 7rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
  margin-top: 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.end {
  font-size: 8rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#input {
  font-size: 2rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.grid {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
}
.item {
  width: 3vh;
  height: 4vh;
}

.container {
  padding-left: 3vh;
  padding-right: 3vh;
  border: 0.6vh solid rgb(61, 61, 61);
  border-radius: 5vh;
}
fieldset {
  width: 100%;
  display: flex;
  border: none;
  font-size: 3rem;
}
.start {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10vw;
  padding-left: 8vw;
  padding-right: 8vw;
  border: 0.6vh solid rgb(61, 61, 61);
  border-radius: 2vh;
  font-family: "GmarketSansMedium";
  font-weight: 500;
}
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
